.mybody{
    background-image: url("data/images/canvas_bg.png");
    margin:0px; 
    min-width: 100%; 
    min-height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center
}

@font-face {
    font-family: "Library";
    src: url("data/fonts/Library 3 am.otf");
}